# Pandas Data Frame

In [1]:
import pandas as pd

In [2]:
groups = ["Modern Web","Devops","Cloud","Big Data","Security","自我挑戰組"]
ironmen =[59, 9, 19, 14, 6, 77]
ironmen_dict ={"groups":groups,"ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Web       59
1      Devops        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [3]:
print(ironmen_df.sum()) #計算鐵人總數
print(ironmen_df.mean()) #計算平均鐵人數
print(ironmen_df.median())#計算鐵人中位數
print(ironmen_df.describe())#列出所有描述性統計

groups     Modern WebDevopsCloudBig DataSecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [4]:
import numpy as np
groups = ["Modern Web","Devops",np.nan,"Big Data","Security","自我挑戰組"]
ironmen =[59, 9, 19, 14, 6, np.nan]
ironmen_dict ={"groups":groups,"ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---")
print(ironmen_df.loc[:,"groups"].isnull())
print("---")
print(ironmen_df.loc[:,"ironmen"].notnull())

       groups  ironmen
0  Modern Web     59.0
1      Devops      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
---
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
---
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [7]:
ironmen_df.groups[ironmen_df.loc[:,"groups"].isnull()] = "不知道名字組"
ironmen_df.ironmen[ironmen_df.loc[:,"ironmen"].notnull()] +=10
ironmen_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       groups  ironmen
0  Modern Web     89.0
1      Devops     39.0
2      不知道名字組     49.0
3    Big Data     44.0
4    Security     36.0
5       自我挑戰組      NaN

# DataFrame loc,iloc¶

In [8]:
import numpy as np
import pandas as pd 
frame = pd.DataFrame(np.random.rand(4,4), index=list("abcd"),columns=list("ABCD"))
frame

          A         B         C         D
a  0.993603  0.806541  0.648872  0.168718
b  0.543504  0.223562  0.653799  0.859316
c  0.618283  0.775688  0.722861  0.153559
d  0.967340  0.336460  0.956855  0.899307

In [9]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.780682  0.535563  0.745597  0.520225
std    0.232954  0.298929  0.144832  0.415005
min    0.543504  0.223562  0.648872  0.153559
25%    0.599588  0.308236  0.652567  0.164929
50%    0.792811  0.556074  0.688330  0.514017
75%    0.973906  0.783402  0.781360  0.869314
max    0.993603  0.806541  0.956855  0.899307

# iloc 利用索引來篩選資料
# loc 利用label來篩選資料

In [10]:
# 橫的叫列，直的叫欄
#.loc先列後欄，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.loc["a","A"]

0.9936029884989475

In [11]:
# 取前兩行對應資料
frame.loc["a":"b",:]

          A         B         C         D
a  0.993603  0.806541  0.648872  0.168718
b  0.543504  0.223562  0.653799  0.859316

In [12]:
# 取前兩欄對應資料
frame.loc[:,"A":"B"]

          A         B
a  0.993603  0.806541
b  0.543504  0.223562
c  0.618283  0.775688
d  0.967340  0.336460

In [13]:
# 取特殊列、欄的資料
print(frame.loc[["a","c"],:])
print(frame.loc[:,["A","C"]])
print(frame.loc[["a","d"],["A","D"]])

          A         B         C         D
a  0.993603  0.806541  0.648872  0.168718
c  0.618283  0.775688  0.722861  0.153559
          A         C
a  0.993603  0.648872
b  0.543504  0.653799
c  0.618283  0.722861
d  0.967340  0.956855
          A         D
a  0.993603  0.168718
d  0.967340  0.899307

# iloc 基於行索引和列索引（index，columns） 都是從 0 開始

In [14]:
frame.iloc[0,0]

0.9936029884989475

In [15]:
# 取前兩列對應資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.993603  0.806541  0.648872  0.168718
b  0.543504  0.223562  0.653799  0.859316

In [16]:
# 取前兩列和前兩欄對應資料
frame.iloc[0:2,0:2]

          A         B
a  0.993603  0.806541
b  0.543504  0.223562

In [17]:
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.993603  0.806541  0.648872  0.168718
c  0.618283  0.775688  0.722861  0.153559
          A         C
a  0.993603  0.648872
b  0.543504  0.653799
c  0.618283  0.722861
d  0.967340  0.956855
          A         D
a  0.993603  0.168718
d  0.967340  0.899307

In [18]:
# 取前兩列和前兩欄對應資料
frame.iloc[0:2,0:2]

          A         B
a  0.993603  0.806541
b  0.543504  0.223562

In [19]:
import numpy as np
import pandas as pd
groups=["Modern web","Devops",np.nan,"Big Data","Security","自我挑戰組"]
ironmen=[59,9,19,14,6,np.nan]
ironmen_dict={"groups":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
# print(ironmen_df)
print(ironmen_df.loc[:,"groups"].isnull()) #判斷那些組名是遺失值
print(ironmen_df.loc[:,"ironmen"].notnull()) #判斷那些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [20]:
print(ironmen_df.groups[ironmen_df.loc[:,"groups"].isnull()])
print(ironmen_df.ironmen[ironmen_df.loc[:,"ironmen"].notnull()])

2    NaN
Name: groups, dtype: object
0    59.0
1     9.0
2    19.0
3    14.0
4     6.0
Name: ironmen, dtype: float64

In [21]:
print(ironmen_df)
ironmen_df_dropped = ironmen_df.dropna() #刪除遺失值
print(ironmen_df_dropped)
ironmen_df_filled = ironmen_df.fillna(0)
print(ironmen_df_filled)
ironmen_df_fillvalue = ironmen_df.fillna({"group":"Cloud","ironmen":71})
print(ironmen_df_fillvalue)

       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
3    Big Data     14.0
4    Security      6.0
       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
       groups  ironmen
0  Modern web     59.0
1      Devops      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0